@{
    ViewData["Title"] = "Política de Privacidade";
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - InstafollowWeb</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f0f8ff;
            font-family: 'Arial', sans-serif;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
        }
        h1 {
            font-family: 'Georgia', serif;
            color: #007bff;
            margin-bottom: 20px;
        }
        h2 {
            font-family: 'Georgia', serif;
            color: #007bff;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        p {
            font-size: 1.1rem;
            color: #555;
        }
        ul {
            font-size: 1.1rem;
            color: #555;
            padding-left: 20px;
        }
        footer {
            text-align: center;
            margin-top: 20px;
            padding: 10px;
            background-color: #007bff;
            color: #ffffff;
            border-top: 1px solid #ccc;
        }
        footer a {
            margin: 0 10px;
            color: #ffffff;
        }
        footer a:hover {
            color: #d4d4d4;
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <p>Bem-vindo à nossa política de privacidade. Sua privacidade é muito importante para nós. Esta política explica como coletamos, usamos, divulgamos e protegemos suas informações pessoais.</p>

    <h2><i class="fas fa-info-circle"></i> Informações que Coletamos</h2>
    <p>Coletamos vários tipos de informações em conexão com os serviços que fornecemos, incluindo:</p>
    <ul>
        <li>Informações que você nos fornece diretamente.</li>
        <li>Informações que coletamos automaticamente quando você usa nossos serviços.</li>
        <li>Informações de outras fontes.</li>
    </ul>

    <h2><i class="fas fa-shield-alt"></i> Como Usamos Suas Informações</h2>
    <p>Usamos as informações que coletamos para:</p>
    <ul>
        <li>Fornecer, operar e manter nossos serviços.</li>
        <li>Melhorar, personalizar e expandir nossos serviços.</li>
        <li>Entender e analisar como você usa nossos serviços.</li>
        <li>Desenvolver novos produtos, serviços, recursos e funcionalidades.</li>
    </ul>

    <h2><i class="fas fa-user-secret"></i> Compartilhamento de Informações</h2>
    <p>Podemos compartilhar suas informações nas seguintes circunstâncias:</p>
    <ul>
        <li>Com provedores de serviços que realizam serviços em nosso nome.</li>
        <li>Para cumprir com obrigações legais.</li>
        <li>Para proteger e defender nossos direitos e propriedades.</li>
    </ul>

    <h2><i class="fas fa-lock"></i> Segurança de Informações</h2>
    <p>Implementamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição.</p>

    <h2><i class="fas fa-envelope"></i> Contato</h2>
    <p>Se você tiver alguma dúvida sobre esta política de privacidade, entre em contato conosco:</p>
    <ul>
        <li>Email: <a href="mailto:suporte@instafollowweb.com">suporte@instafollowweb.com</a></li>
        <li>Telefone: (11) 1234-5678</li>
    </ul>
</div>

<!-- Rodapé -->
<footer>
    <p>Victor Brandão</p>
    <a href="https://www.instagram.com/victorbrandaao" target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.linkedin.com/in/victorbrandaao" target="_blank">
        <i class="fab fa-linkedin"></i>
    </a>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>